<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.websurvey.sqldao.UserEmailConfigMapper" >
  <resultMap id="BaseResultMap" type="com.dm.websurvey.model.UserEmailConfig" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="leader_id" property="leaderId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="is_show_ip" property="isShowIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, leader_id, org_id, user_id,is_show_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_email_config
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_email_config
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_email_config
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
   <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from user_email_config
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.dm.websurvey.model.UserEmailConfig" >
    insert into user_email_config (id, leader_id, org_id, 
      user_id,is_show_ip)
    values (#{id,jdbcType=VARCHAR}, #{leaderId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR},#{isShowIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dm.websurvey.model.UserEmailConfig" >
    insert into user_email_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="leaderId != null" >
        leader_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isShowIp != null" >
        is_show_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="leaderId != null" >
        #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isShowIp != null" >
        #{isShowIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dm.websurvey.model.UserEmailConfig" >
    update user_email_config
    <set >
      <if test="leaderId != null" >
        leader_id = #{leaderId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="isShowIp != null" >
        is_show_ip = #{isShowIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dm.websurvey.model.UserEmailConfig" >
    update user_email_config
    set leader_id = #{leaderId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
       is_show_ip = #{isShowIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>