<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.cms.sqldao.CmsAdvertisingMapper" >
  <resultMap id="BaseResultMap" type="com.dm.cms.model.CmsAdvertising" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="image_width" property="imageWidth" jdbcType="VARCHAR" />
    <result column="image_height" property="imageHeight" jdbcType="VARCHAR" />
    <result column="startime" property="startime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
    <result column="always_show" property="alwaysShow" jdbcType="BIT" />
    <result column="lay_up" property="layUp" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, image_url, link, target, image_width, image_height, startime, endtime, 
    type, site_id, click_count, enabled, seq, always_show, lay_up
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_advertising
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByArgMap" resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from cms_advertising
    where site_id = #{model.siteId,jdbcType=INTEGER}
    <if test="model.name!=null and model.name!=''">
    	and name like concat("%",#{model.name},"%")
    </if>
    <if test="model.enabled!=null">
    	and enabled = #{model.enabled}
    </if>
    <if test="model.type!=null and model.type!=''">
    	and type = #{model.type}
    </if>
    <if test="model.startime!=null">
    	and startime &lt; #{model.startime}
    </if>
    <if test="model.endtime!=null ">
    	and endtime &gt; #{model.endtime}
    </if>
    <if test="sort!=null">
    	order by ${sort}
    </if>
  </select>
  <select id="findByArgMapForProtal"  resultMap="BaseResultMap">
  	 select 
    <include refid="Base_Column_List" />
    from cms_advertising
    where (site_id = #{model.siteId,jdbcType=INTEGER}
    <if test="model.type!=null">
    	and type = #{model.type}
     </if>
    <if test="model.enabled!=null">
    	and enabled = #{model.enabled}
    </if>
    <if test="model.startime!=null">
    	and startime &lt; #{model.startime}
    </if>
    <if test="model.endtime!=null ">
    	and endtime &gt; #{model.endtime}
    </if>
    and lay_up =false)
    or (site_id = #{model.siteId,jdbcType=INTEGER}
    	<if test="model.type!=null">
    	and type = #{model.type}
    	</if>
    	 and always_show =true and lay_up=false)
    order by seq asc
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_advertising
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dm.cms.model.CmsAdvertising" >
    insert into cms_advertising (id, name, image_url, 
      link, target, image_width, 
      image_height, startime, endtime, 
      type, site_id, click_count, 
      enabled, seq, always_show, lay_up
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, #{imageWidth,jdbcType=VARCHAR}, 
      #{imageHeight,jdbcType=VARCHAR}, #{startime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=VARCHAR}, #{siteId,jdbcType=BIGINT}, #{clickCount,jdbcType=INTEGER}, 
      #{enabled,jdbcType=BIT}, #{seq,jdbcType=INTEGER}, #{alwaysShow,jdbcType=BIT}, #{layUp,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dm.cms.model.CmsAdvertising" >
    insert into cms_advertising
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="imageWidth != null" >
        image_width,
      </if>
      <if test="imageHeight != null" >
        image_height,
      </if>
      <if test="startime != null" >
        startime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="alwaysShow != null" >
        always_show,
      </if>
      <if test="layUp != null" >
        lay_up,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="imageWidth != null" >
        #{imageWidth,jdbcType=VARCHAR},
      </if>
      <if test="imageHeight != null" >
        #{imageHeight,jdbcType=VARCHAR},
      </if>
      <if test="startime != null" >
        #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="alwaysShow != null" >
        #{alwaysShow,jdbcType=BIT},
      </if>
      <if test="layUp != null" >
        #{layUp,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dm.cms.model.CmsAdvertising" >
    update cms_advertising
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="imageWidth != null" >
        image_width = #{imageWidth,jdbcType=VARCHAR},
      </if>
      <if test="imageHeight != null" >
        image_height = #{imageHeight,jdbcType=VARCHAR},
      </if>
      <if test="startime != null" >
        startime = #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="alwaysShow != null" >
        always_show = #{alwaysShow,jdbcType=BIT},
      </if>
      <if test="layUp != null" >
        lay_up = #{layUp,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dm.cms.model.CmsAdvertising" >
    update cms_advertising
    set name = #{name,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      image_width = #{imageWidth,jdbcType=VARCHAR},
      image_height = #{imageHeight,jdbcType=VARCHAR},
      startime = #{startime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      site_id = #{siteId,jdbcType=BIGINT},
      click_count = #{clickCount,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BIT},
      seq = #{seq,jdbcType=INTEGER},
      always_show = #{alwaysShow,jdbcType=BIT},
      lay_up = #{layUp,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>