<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.cms.sqldao.CmsFriendlinkMapper" >
  <resultMap id="BaseResultMap" type="com.dm.cms.model.CmsFriendlink" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="site_id" property="siteId" jdbcType="BIGINT" />
    <result column="click_count" property="clickCount" jdbcType="BIGINT" />
    <result column="_desc" property="desc" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="is_show" property="isShow" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="_seq" property="seq" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, site_id, click_count, _desc, email, is_show, link, logo, name, _seq, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cms_friendlink
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByArgMap" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from cms_friendlink
    where site_id = #{model.siteId} 
    <if test="model.type!=null and model.type!=''">
    	and type = #{model.type}
    </if>
    <if test="model.name!=null and model.name!=''">
    	and name like concat("%",#{model.name},"%")
    </if>
    <if test="model.isShow!=null and model.isShow!=''">
    	and is_show = #{model.isShow}
    </if>
    order by _seq,id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cms_friendlink
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dm.cms.model.CmsFriendlink" >
    insert into cms_friendlink (id, site_id, click_count, 
      _desc, email, is_show, 
      link, logo, name, _seq, 
      type)
    values (#{id,jdbcType=BIGINT}, #{siteId,jdbcType=BIGINT}, #{clickCount,jdbcType=BIGINT}, 
      #{desc,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{isShow,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{seq,jdbcType=BIGINT}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dm.cms.model.CmsFriendlink" >
    insert into cms_friendlink
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="desc != null" >
        _desc,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="seq != null" >
        _seq,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=BIGINT},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=BIGINT},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dm.cms.model.CmsFriendlink" >
    update cms_friendlink
    <set >
      <if test="siteId != null" >
        site_id = #{siteId,jdbcType=BIGINT},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=BIGINT},
      </if>
      <if test="desc != null" >
        _desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        _seq = #{seq,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dm.cms.model.CmsFriendlink" >
    update cms_friendlink
    set site_id = #{siteId,jdbcType=BIGINT},
      click_count = #{clickCount,jdbcType=BIGINT},
      _desc = #{desc,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      _seq = #{seq,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>