<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dm.cms.sqldao.CmsInterviewImageMapper" >
  <resultMap id="BaseResultMap" type="com.dm.cms.model.CmsInterviewImage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="interview_id" property="interviewId" jdbcType="INTEGER" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="isnable" property="isnable" jdbcType="VARCHAR" />
    <result column="filed1" property="filed1" jdbcType="VARCHAR" />
    <result column="filed2" property="filed2" jdbcType="VARCHAR" />
    <result column="filed3" property="filed3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, interview_id, img_url, create_time, `desc`, create_user, update_time, title, isnable, 
    filed1, filed2, filed3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_interview_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findList" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from cms_interview_image
    where interview_id = #{model.interviewId}
    and filed2 &lt;&gt; '9'
    
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_interview_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dm.cms.model.CmsInterviewImage" >
    insert into cms_interview_image (id, interview_id, img_url, 
      create_time, `desc`, create_user, 
      update_time, title, isnable, 
      filed1, filed2, filed3
      )
    values (#{id,jdbcType=INTEGER}, #{interviewId,jdbcType=INTEGER}, #{imgUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{desc,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=DATE}, #{title,jdbcType=VARCHAR}, #{isnable,jdbcType=VARCHAR}, 
      #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dm.cms.model.CmsInterviewImage" >
    insert into cms_interview_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interviewId != null" >
        interview_id,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="isnable != null" >
        isnable,
      </if>
      <if test="filed1 != null" >
        filed1,
      </if>
      <if test="filed2 != null" >
        filed2,
      </if>
      <if test="filed3 != null" >
        filed3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interviewId != null" >
        #{interviewId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isnable != null" >
        #{isnable,jdbcType=VARCHAR},
      </if>
      <if test="filed1 != null" >
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null" >
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null" >
        #{filed3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dm.cms.model.CmsInterviewImage" >
    update cms_interview_image
    <set >
      <if test="interviewId != null" >
        interview_id = #{interviewId,jdbcType=INTEGER},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isnable != null" >
        isnable = #{isnable,jdbcType=VARCHAR},
      </if>
      <if test="filed1 != null" >
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null" >
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null" >
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dm.cms.model.CmsInterviewImage" >
    update cms_interview_image
    set interview_id = #{interviewId,jdbcType=INTEGER},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      `desc` = #{desc,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      title = #{title,jdbcType=VARCHAR},
      isnable = #{isnable,jdbcType=VARCHAR},
      filed1 = #{filed1,jdbcType=VARCHAR},
      filed2 = #{filed2,jdbcType=VARCHAR},
      filed3 = #{filed3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>