<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,minimum-scale=1.0, user-scalabele=no"/><!-- 手机屏幕网页初始大小占屏幕面积100% -->
<title>机构信息－领导介绍</title>
<!--css-->
<link type="text/css" rel="stylesheet" href="css/global.css"><!--全局样式-->
<link type="text/css" rel="stylesheet" href="css/main.css">
<!--javaScript-->
<script src="js/retina.js"></script><!--适应2倍屏-->
</head>

<body>

<!--头部开始-->
<header id="header" class="ub ub-pj">
    <div class="ub ub-ac ub-pc f20 cWh mg-l2"><span>机构信息</span><div class="jtRit mg-l2 mg-r2"></div><span>领导介绍</span></div>
    <span class="right"></span>
</header>
<div class="menu">
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">机构信息&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">机构职责</a></div>
             <div class="ubw1"><a href="#">领导介绍</a></div>
             <div class="ubw1"><a href="#">内设机构</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">直属机构</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="zwyw.html">政务要闻&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw1"><a href="#">政务要闻</a></div>
              <div class="ubw1"><a href="#">政策法规</a></div>
              <div class="ubw1"><a href="#">通知公告</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">重要会议</a></div>
             <div class="ubw1"><a href="#">工作动态</a></div>
             <div class="ubw1"><a href="#">行业动态</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">媒体报道</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="ztzl.html">专题专栏&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw2"><a href="ztzl-zhbj.html">智慧北京建设</a></div>
              <div class="ubw1"><a href="ztzl-jnhb.html">节能环保</a></div>
           </div>
           <div class="ub">
             <div class="ubw2"><a href="ztzl-kqwr.html">空气重污染&nbsp;&nbsp;&nbsp;</a></div>
             <div class="ubw1"><a href="ztzl-jxsj.html">经信数据</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">企业服务&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">业务咨询</a></div>
             <div class="ubw1"><a href="#">资金服务</a></div>
             <div class="ubw1"><a href="#">行政服务</a></div>
           </div>
       </div>
    </div>
    </li>
</div>
<!-- 头部结束 -->

<!--选卡主体部分-->
<div class="wrap">
	<div class="ub jgxxCard lineT lineB">
        <ul class="ub ub-f1">
            <li class="jgxxCard_on" onclick="showCard(this,'navCont','jgxxCard')">机构职责</li>
            <li class="jgxxCard_off" onclick="showCard(this,'navCont','jgxxCard')">领导介绍</li>
            <li class="jgxxCard_off" onclick="showCard(this,'navCont','jgxxCard')">内设机构</li>
            <li class="jgxxCard_off" onclick="showCard(this,'navCont','jgxxCard')">直属机构</li>
       </ul>
    </div>
    <div id="navCont0" style="display:block;">
    	<div class="mg-a3">
            <div class="f22 cBla3 mg-t3 mg-b4 fn-text-center">北京市经济和信息化专家委员会（北京市国防科学技术工业办公室）主要职责</div>
            <div class="jgzzCont">
                <p>根据中共中央、国务院批准的北京市人民政府机构改革方案和《北京市人民政府关于机构设置的通知》</p>
                  <p><strong>一、职责调整</strong></p>
                <p>（一）划入的职责</p>
                <p>1、将原北京市工业促进局（北京市国防科学技术工业办公室）、北京市信息化工作办公室、北京市乡镇企业局的职责，整合划入市经济信息化委。</p>
            </div>
        </div>
    </div>
    <div id="navCont1" style="display:none;">
    	<div class="ub lineB mg-a3 mg-b0 pd-b2">
                  	<div class="ldPic"><img src="img/ldpic_1.jpg"></div>
                    	<div class="ub-f1 ub-ver mg-l2">
                        	<div class="f20 cBla3">李平</div>
                         <div class="f16 cBla1">北京市经济和信息化委员会党组书记</div>
                         <div class="f16 mg-t1 mg-b1"><strong class="cBlu3">工作分工:</strong><span class="cBla1">主持党组全面工作</span></div>
                         <article class="details">
                            <section show="yes"><!--show="yes"为默认展开的，没有则默认都收起-->
                                <header class="ub">
                                    <h2 class="ub-f1">工作履历</h2>
                                    <span class="ub zhankai">展开</span>
                                </header>
                                <div>
                                    <p>曾任北京市顺义县后沙峪乡党委宣传委员、组织委员，顺义县牛山乡党委副书记、总经理，顺义县李遂乡党委书记，顺义县北四环工业区管委会主任、党委书记，顺义县建委副主任，顺义县委常委、常务副县长兼计委主任，顺义县委常委、常务副县长兼吉祥工业区管委会主任。</p>
                                </div>
                            </section>
                        </article>
                      </div>
                  </div>
                  <div class="ub lineB mg-a3 mg-b0 pd-b2">
                  	<div class="ldPic"><img src="img/ldpic_2.jpg"></div>
                    	<div class="ub-f1 ub-ver mg-l2">
                        	<div class="f20 cBla3">张伯旭</div>
                         <div class="f16 cBla1">北京市经济和信息化委员会党组副书记、主任</div>
                         <div class="f16 mg-t1 mg-b1"><strong class="cBlu3">工作分工:</strong><span class="cBla1">主持行政全面工作，分管研究室（政策法规处），分管审计工作。</span></div>
                         <article class="details">
                            <section><!--show="yes"为默认展开的，没有则默认都收起-->
                                <header class="ub">
                                    <h2 class="ub-f1">工作履历</h2>
                                    <span class="ub zhankai">展开</span>
                                </header>
                                <div>
                                    <p>曾任北京市顺义县后沙峪乡党委宣传委员、组织委员，顺义县牛山乡党委副书记、总经理，顺义县李遂乡党委书记，顺义县北四环工业区管委会主任、党委书记，顺义县建委副主任，顺义县委常委、常务副县长兼计委主任，顺义县委常委、常务副县长兼吉祥工业区管委会主任。</p>
                                </div>
                            </section>
                        </article>
                      </div>
                  </div>
                  <div class="ub lineB mg-a3 mg-b0 pd-b2">
                  	<div class="ldPic"><img src="img/ldpic_3.jpg"></div>
                    	<div class="ub-f1 ub-ver mg-l2">
                        	<div class="f20 cBla3">张国栋</div>
                         <div class="f16 cBla1">北京市经济和信息化委员会党组成员、纪检组组长</div>
                         <div class="f16 mg-t1 mg-b1"><strong class="cBlu3">工作分工:</strong><span class="cBla1">分管处室：监察处</span></div>
                         <article class="details">
                            <section><!--show="yes"为默认展开的，没有则默认都收起-->
                                <header class="ub">
                                    <h2 class="ub-f1">工作履历</h2>
                                    <span class="ub zhankai">展开</span>
                                </header>
                                <div>
                                    <p>曾任北京市顺义县后沙峪乡党委宣传委员、组织委员，顺义县牛山乡党委副书记、总经理，顺义县李遂乡党委书记，顺义县北四环工业区管委会主任、党委书记，顺义县建委副主任，顺义县委常委、常务副县长兼计委主任，顺义县委常委、常务副县长兼吉祥工业区管委会主任。</p>
                                </div>
                            </section>
                        </article>
                      </div>
                  </div>
                  <div class="ub lineB mg-a3 mg-b0 pd-b2">
                  	<div class="ldPic"><img src="img/ldpic_3.jpg"></div>
                    	<div class="ub-f1 ub-ver mg-l2">
                        	<div class="f20 cBla3">张国栋</div>
                         <div class="f16 cBla1">北京市经济和信息化委员会党组成员、纪检组组长</div>
                         <div class="f16 mg-t1 mg-b1"><strong class="cBlu3">工作分工:</strong><span class="cBla1">分管处室：监察处</span></div>
                         <article class="details">
                            <section><!--show="yes"为默认展开的，没有则默认都收起-->
                                <header class="ub">
                                    <h2 class="ub-f1">工作履历</h2>
                                    <span class="ub zhankai">展开</span>
                                </header>
                                <div>
                                    <p>曾任北京市顺义县后沙峪乡党委宣传委员、组织委员，顺义县牛山乡党委副书记、总经理，顺义县李遂乡党委书记，顺义县北四环工业区管委会主任、党委书记，顺义县建委副主任，顺义县委常委、常务副县长兼计委主任，顺义县委常委、常务副县长兼吉祥工业区管委会主任。</p>
                                </div>
                            </section>
                        </article>
                      </div>
                  </div>
                  <div class="ub lineB mg-a3 mg-b0 pd-b2">
                  	<div class="ldPic"><img src="img/ldpic_3.jpg"></div>
                    	<div class="ub-f1 ub-ver mg-l2">
                        	<div class="f20 cBla3">张国栋</div>
                         <div class="f16 cBla1">北京市经济和信息化委员会党组成员、纪检组组长</div>
                         <div class="f16 mg-t1 mg-b1"><strong class="cBlu3">工作分工:</strong><span class="cBla1">分管处室：监察处</span></div>
                         <article class="details">
                            <section><!--show="yes"为默认展开的，没有则默认都收起-->
                                <header class="ub">
                                    <h2 class="ub-f1">工作履历</h2>
                                    <span class="ub zhankai">展开</span>
                                </header>
                                <div>
                                    <p>曾任北京市顺义县后沙峪乡党委宣传委员、组织委员，顺义县牛山乡党委副书记、总经理，顺义县李遂乡党委书记，顺义县北四环工业区管委会主任、党委书记，顺义县建委副主任，顺义县委常委、常务副县长兼计委主任，顺义县委常委、常务副县长兼吉祥工业区管委会主任。</p>
                                </div>
                            </section>
                        </article>
                      </div>
                  </div>
    </div>
    <div id="navCont2" style="display:none;">
    	<div class="pd-a3 lineB">
                    	<div class="f20 cBla3 mg-b2">办公室</div>
                      <div class="f16 cBla1"><span class="pd-r3">徐艳阳</span><span>办公电话：84640621、57587000</span></div>
                      <div class="f16 cBla1">北京市朝阳区惠新东街6号院3号楼二层</div>
                  </div>
                  <div class="pd-a3 lineB">
                    	<div class="f20 cBla3 mg-b2">财务处（审计处）</div>
                      <div class="f16 cBla1"><span class="pd-r3">李强</span><span>办公电话：84640621、57587000</span></div>
                      <div class="f16 cBla1">北京市朝阳区惠新东街6号院3号楼二层</div>
                  </div>
                  <div class="pd-a3 lineB">
                    	<div class="f20 cBla3 mg-b2">新闻宣传处</div>
                      <div class="f16 cBla1"><span class="pd-r3">高展</span><span>办公电话：84640621、57587000</span></div>
                      <div class="f16 cBla1">北京市朝阳区惠新东街6号院3号楼二层</div>
                  </div>
    </div>
    <div id="navCont3" style="display:none;">
    	<div class="pd-a3 lineB">
                    	<div class="f20 cBla3 mg-b2">北京市无线电管理局</div>
                      <div class="f16 cBla1"><span class="pd-r3">负责人：陆恭超</span><span>办公电话：84640621</span></div>
                      <div class="f16 cBla1">地址：北京市朝阳区惠新东街6号院3号楼二层</div>
                  </div>
                  <div class="pd-a3 lineB">
                    	<div class="f20 cBla3 mg-b2">北京市国防科技工业事务中心</div>
                      <div class="f16 cBla1"><span class="pd-r3">宫鸣华</span><span>办公电话：84640621、57587000</span></div>
                      <div class="f16 cBla1">北京市朝阳区惠新东街6号院3号楼二层</div>
                  </div>
    </div>    
</div>
<!--End 选卡主体部分-->

</body>

<script src="js/jquery.min.js"></script><!--Menu-->
<script><!--Menu-->
$(function(){
	$("#header span.right").on("click",function(){
        var val = $(this).attr('class');
        if(val.indexOf('on') == -1){
            $(this).addClass('on');
            $(".menu").show(0).stop().animate({
                height:'34rem'
            },0);
        }else{
            $(this).removeClass('on');
            $(".menu").hide(0).stop().animate({
                height:'0'
            },0);
        }
    })
	
	$(".menu a").on("click",function(){
        $(this).parents(".menu").hide();
        $("#header span.right").removeClass('on');
    })
	
});
</script>
<script src="js/details.js"></script><!--隐藏展开详情效果-->
<script type="text/javascript" src="js/public.js"></script><!--Tab & Public-->

</html>
