<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,minimum-scale=1.0, user-scalabele=no"/><!-- 手机屏幕网页初始大小占屏幕面积100% -->
<title>列表概览页</title>
<!--css-->
<link type="text/css" rel="stylesheet" href="css/global.css"><!--全局样式-->
<link type="text/css" rel="stylesheet" href="css/main.css">
<!--javaScript-->
<script src="js/retina.js"></script><!--适应2倍屏-->
</head>

<body>

<!--头部开始-->
<header id="header" class="ub ub-pj">
    <div class="ub ub-ac ub-pc f20 cWh mg-l2"><span>政务要闻</span><div class="jtRit mg-l2 mg-r2"></div><span>通知公告</span></div>
    <span class="right"></span>
</header>
<div class="menu">
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">机构信息&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">机构职责</a></div>
             <div class="ubw1"><a href="#">领导介绍</a></div>
             <div class="ubw1"><a href="#">内设机构</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">直属机构</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="zwyw.html">政务要闻&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw1"><a href="#">政务要闻</a></div>
              <div class="ubw1"><a href="#">政策法规</a></div>
              <div class="ubw1"><a href="#">通知公告</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">重要会议</a></div>
             <div class="ubw1"><a href="#">工作动态</a></div>
             <div class="ubw1"><a href="#">行业动态</a></div>
           </div>
           <div class="ub">
             <div class="ubw1"><a href="#">媒体报道</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="ztzl.html">专题专栏&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw2"><a href="ztzl-zhbj.html">智慧北京建设</a></div>
              <div class="ubw1"><a href="ztzl-jnhb.html">节能环保</a></div>
           </div>
           <div class="ub">
             <div class="ubw2"><a href="ztzl-kqwr.html">空气重污染&nbsp;&nbsp;&nbsp;</a></div>
             <div class="ubw1"><a href="ztzl-jxsj.html">经信数据</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">企业服务&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">业务咨询</a></div>
             <div class="ubw1"><a href="#">资金服务</a></div>
             <div class="ubw1"><a href="#">行政服务</a></div>
           </div>
       </div>
    </div>
    </li>
</div>
<!-- 头部结束 -->

<!--MainBody-->
<div class="ub lineB mg-a2 mg-b0 pd-b2 link">
   <div class="ub ub-f1 ub-ver">
        <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
       <div class="ub ub-f1 ub-ae pd-t2">
           <div class="f12 cBla2 mg-r2">2015-12-21</div>
           <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
           <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
       </div>
   </div>
</div>
<div class="ub lineB mg-a2 mg-b0 pd-b2 link">
   <div class="ub ub-f1 ub-ver">
        <div class="ub f18 cBla3">11年北京市企业诚信创建活动总结大会召开谈会召开</div>
       <div class="ub ub-f1 ub-ae pd-t2">
           <div class="f12 cBla2 mg-r2">2015-12-21</div>
           <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
           <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
       </div>
   </div>
</div>
<div class="ub lineB mg-a2 mg-b0 pd-b2 link">
   <div class="ub ub-f1 ub-ver">
        <div class="ub f18 cBla3">222年北京市企业诚信创建活动总结大会召开谈会召开</div>
       <div class="ub ub-f1 ub-ae pd-t2">
           <div class="f12 cBla2 mg-r2">2015-12-21</div>
           <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
           <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
       </div>
   </div>
</div>
<div class="ub lineB mg-a2 mg-b0 pd-b2 link">
   <div class="ub ub-f1 ub-ver">
        <div class="ub f18 cBla3">3333年北京市企业诚信创建活动总结大会召开谈会召开</div>
       <div class="ub ub-f1 ub-ae pd-t2">
           <div class="f12 cBla2 mg-r2">2015-12-21</div>
           <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
           <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
       </div>
   </div>
</div>
<div class="ub lineB mg-a2 mg-b0 pd-b2 link">
   <div class="ub ub-f1 ub-ver">
        <div class="ub f18 cBla3">4444年北京市企业诚信创建活动总结大会召开谈会召开</div>
       <div class="ub ub-f1 ub-ae pd-t2">
           <div class="f12 cBla2 mg-r2">2015-12-21</div>
           <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
           <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
       </div>
   </div>
</div>
<!--End MainBody-->

</body>
<script src="js/jquery.min.js"></script><!--Menu-->
<script><!--Menu-->
$(function(){
	$("#header span.right").on("click",function(){
        var val = $(this).attr('class');
        if(val.indexOf('on') == -1){
            $(this).addClass('on');
            $(".menu").show(0).stop().animate({
                height:'34rem'
            },0);
        }else{
            $(this).removeClass('on');
            $(".menu").hide(0).stop().animate({
                height:'0'
            },0);
        }
    })
	
	$(".menu a").on("click",function(){
        $(this).parents(".menu").hide();
        $("#header span.right").removeClass('on');
    })
	
});
</script>
</html>
