<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,minimum-scale=1.0, user-scalabele=no"/><!-- 手机屏幕网页初始大小占屏幕面积100% -->
<title>专题专栏</title>
<!--css-->
<link type="text/css" rel="stylesheet" href="css/global.css"><!--全局样式-->
<link type="text/css" rel="stylesheet" href="css/main.css">
<!--javaScript-->
<script src="js/retina.js"></script><!--适应2倍屏-->
</head>

<body>

<!--头部开始-->
<header id="header" class="ub ub-pj">
    <div class="ub ub-ac ub-pc f20 cWh mg-l2"><span>首页</span><div class="jtRit mg-l2 mg-r2 ub ub-ac ub-pc"></div><span>专题专栏</span></div>
    <span class="right"></span>
</header>
<div class="menu">
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">新闻资讯&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">新闻动态</a></div>
             <div class="ubw1"><a href="#">海信院动态</a></div>
             <div class="ubw1"><a href="#">时政新闻</a></div>
           </div>
           <div class="ub">
             <div class="ubw3"><a href="#">图片新闻</a></div>
             <div class="ubw3"><a href="#">社会</a></div>
             <div class="ubw3"><a href="#">财经</a></div>
             <div class="ubw3"><a href="#">体育</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw3"><a href="#">预警通告</a></div>
              <div class="ubw3"><a href="#">透明海洋</a></div>
              <div class="ubw3"><a href="#">海洋科技</a></div>
              <div class="ubw3"><a href="#">生活服务</a></div>
           </div>
           <div class="ub">
             <div class="ubw3"><a href="#">旅游&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
             <div class="ubw3"><a href="#">交通&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="ztzl.html">海洋研究&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
              <div class="ubw1"><a href="ztzl-zhbj.html">热点推荐</a></div>
              <div class="ubw1"><a href="ztzl-jnhb.html">海产品研究</a></div>
              <div class="ubw1"><a href="#">图片新闻</a></div>
           </div>
           <div class="ub">
             <div class="ubw2"><a href="ztzl-kqwr.html">海洋经济研究</a></div>
             <div class="ubw2"><a href="ztzl-jxsj.html">海洋环境研究</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">政策法规&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw1"><a href="#">最新动态</a></div>
             <div class="ubw1"><a href="#">图片新闻</a></div>
             <div class="ubw1"><a href="#">涉海法律</a></div>
           </div>
           <div class="ub">
             <div class="ubw2"><a href="#">涉海行政法规</a></div>
             <div class="ubw1"><a href="#">海洋政策</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">视频&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ubw3"><a href="#">最新推荐</a></div>
             <div class="ubw3"><a href="#">原创视频</a></div>
             <div class="ubw3"><a href="#">海洋</a></div>
             <div class="ubw3"><a href="#">动作</a></div>
           </div>
           <div class="ub">
             <div class="ub-f1"><a href="#">悬疑</a></div>
             <div class="ub-f1"><a href="#">爱情</a></div>
             <div class="ub-f1"><a href="#">科幻</a></div>
             <div class="ub-f1"><a href="#">搞笑</a></div>
             <div class="ub-f1"><a href="#">科技</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">音乐&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ub-f1"><a href="#">原创歌曲</a></div>
             <div class="ub-f1"><a href="#">经典老歌</a></div>
             <div class="ub-f1"><a href="#">流行音乐</a></div>
             <div class="ub-f1"><a href="#">摇滚音乐</a></div>
           </div>
           <div class="ub">
             <div class="ub-f1"><a href="#">古典音乐</a></div>
             <div class="ub-f1"><a href="#">日韩音乐</a></div>
             <div class="ub-f1"><a href="#">网络歌曲</a></div>
             <div class="ub-f1"><a href="#">欧美歌曲</a></div>
           </div>
           <div class="ub">
             <div class="ubw3"><a href="#">影视歌曲</a></div>
             <div class="ubw3"><a href="#">经典MV</a></div>
           </div>
       </div>
    </div>
    </li>
    <li>
    <div class="ub pd-a2">
    	<div class="ub"><a href="#">小说&nbsp;&gt;</a></div>
       <div class="ub ub-f1 ub-ver">
       		<div class="ub">
             <div class="ub-f1"><a href="#">武侠</a></div>
             <div class="ub-f1"><a href="#">玄幻</a></div>
             <div class="ub-f1"><a href="#">职场</a></div>
             <div class="ub-f1"><a href="#">爱情</a></div>
           </div>
       </div>
    </div>
    </li>
</div>
<!-- 头部结束 -->

<!--MainBody-->
<div class="ub ztzl_banner1"><img src="img/ztzl_banner1.jpg"></div>
<!--Card News-->
<div class="ub ub-ver">
    <div class="ub lineT lineB-blu1">
        <div class="ub zwywTit">人口服务</div>
    </div>
    <div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub bgGra1 pd-a2 f14 cBla1 link">查看更多&nbsp;&bull;&bull;&bull;</div>
    </div>
</div>

<div class="ub ub-ver">
    <div class="ub lineT lineB-blu1">
        <div class="ub zwywTit">交通管理</div>
    </div>
    <div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub bgGra1 pd-a2 f14 cBla1 link">查看更多&nbsp;&bull;&bull;&bull;</div>
    </div>
</div>

<div class="ub ub-ver">
    <div class="ub lineT lineB-blu1">
        <div class="ub zwywTit">科学教育</div>
    </div>
    <div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub bgGra1 pd-a2 f14 cBla1 link">查看更多&nbsp;&bull;&bull;&bull;</div>
    </div>
</div>

<div class="ub ub-ver">
    <div class="ub lineT lineB-blu1">
        <div class="ub zwywTit">医疗卫生</div>
    </div>
    <div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub lineB mg-a2 mg-b0 pd-b2 link">
           <div class="ub ub-f1 ub-ver">
                <div class="ub f18 cBla3">0000年北京市企业诚信创建活动总结大会召开谈会召开</div>
               <div class="ub ub-f1 ub-ae pd-t2">
                   <div class="f12 cBla2 mg-r2">2015-12-21</div>
                   <div class="ub-f1 f12 cBla2">经济社会信息化处</div>
                   <div class="f14 cBla2 lineA uc-a pd-a1 newsPoint">&bull;&bull;&bull;</div>
               </div>
           </div>
        </div>
        <div class="ub bgGra1 pd-a2 f14 cBla1 link">查看更多&nbsp;&bull;&bull;&bull;</div>
    </div>
</div>
<!--End-->

<!--End MainBody-->

</body>
<script src="js/jquery.min.js"></script><!--Menu-->
<script><!--Menu-->
$(function(){
	$("#header span.right").on("click",function(){
        var val = $(this).attr('class');
        if(val.indexOf('on') == -1){
            $(this).addClass('on');
            $(".menu").show(0).stop().animate({
                height:'34rem'
            },0);
        }else{
            $(this).removeClass('on');
            $(".menu").hide(0).stop().animate({
                height:'0'
            },0);
        }
    })
	
	$(".menu a").on("click",function(){
        $(this).parents(".menu").hide();
        $("#header span.right").removeClass('on');
    })
	
});
</script>
<script type="text/javascript" src="js/public.js"></script><!--Tab & Public-->
</html>
